{% extends 'layout/layout.html' %}

{% block contenido %}
<form action="" class ="formulario">
    <h1 class="formulario__titulo">Nuevo Producto</h1>
    <input type="text" class="formulario__input">
    <label for="" class="formulario__label">Nombre</label>
    <input type="text" class="formulario__input">
    <label for="" class="formulario__label">Descripcion</label>
    <input type="text" class="formulario__input">
    <label for="" class="formulario__label">Costo</label>
    <input type="text" class="formulario__input">
    <label for="" class="formulario__label">Precio Publico</label>
    <input type="text" class="formulario__input">
    <label for="" class="formulario__label">Precio Mayorista</label>
    <input type="text" class="formulario__input">
    <label for="" class="formulario__label">Stock</label>
    <br/>

    <input type="submit" class="formulario__submit" Value="Crear Producto">
</form>


{% endblock %}