{% extends 'layout/layout.html' %}

{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <aside class="col-lg-9">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Producto</th>
                                <th scope="col" width="120">Cantidad</th>
                                <th scope="col" width="120">Precio</th>
                                <th scope="col" width="120">Accion</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="../static/img/martillo.jpg" class="img-sm"></div>
                                        <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">Martillo Stanley</a>
                                            <p class="text-muted small">Categoria: Herramientas</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select> </td>
                                <td>
                                    <div class="price-wrap"> <var class="price">Q65.00</var> <small class="text-muted">Antes: Q 75.00 <br>Ahorro: Q 10.00  </small> </div>
                                </td>
                                <td class="text-right d-none d-md-block"></a> <a href="" class="btn btn-light" data-abc="true"> Quitar</a> </td>
                            </tr>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="../static/img/cintametrica.jpg" class="img-sm"></div>
                                        <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">Cinta Metrica Stanley</a>
                                            <p class="text-muted small">Categoria: Herramientas </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select> </td>
                                <td>
                                    <div class="price-wrap"> <var class="price">Q 30.00</var> <small class="text-muted"> Antes Q 45.00 <br> Ahorro Q 15.00 </small> </div>
                                </td>
                                <td class="text-right d-none d-md-block">  <a href="" class="btn btn-light btn-round" data-abc="true"> Quitar</a> </td>
                            </tr>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="../static/img/mezcladora.jpg" class="img-sm"></div>
                                        <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">Mezcladora para Lavatrastos</a>
                                            <p class="small text-muted">Categoria: Plomeria </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select> </td>
                                <td>
                                    <div class="price-wrap"> <var class="price">Q 165.00 </var> <small class="text-muted">Antes: Q 225.00<br>Ahorro Q60.00 </small> </div>
                                </td>
                                <td class="text-right d-none d-md-block"> <a href="" class="btn btn-light btn-round" data-abc="true">Quitar</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </aside>
        <aside class="col-lg-3">
            <div class="card mb-3">
                <div class="card-body">
                    <form>
                        <div class="form-group"> <label>Tiene un Cupon de Descuento?</label>
                            <div class="input-group"> <input type="text" class="form-control coupon" name="" placeholder="Codigo de Cupon"> <span class="input-group-append"> <button class="btn btn-primary btn-apply coupon">Aplicar</button> </span> </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Precio Total:</dt>
                        <dd class="text-right ml-3">Q 260.00</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Descuento:</dt>
                        <dd class="text-right text-danger ml-3">- Q10.00</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total:</dt>
                        <dd class="text-right text-dark b ml-3"><strong> Q 250.00</strong></dd>
                    </dl>
                    <hr> <a href="#" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Realizar Compra </a> <a href="#" class="btn btn-out btn-success btn-square btn-main mt-2" data-abc="true">Continuar Comprando</a>
                </div>
            </div>
        </aside>
    </div>
</div>





{% endblock %}