{% extends 'layout/layout.html' %}

{% block contenido %}
    {% include 'message/messages.html' %}
<main class="contenedor">
    <div class="grid">
         <!-- caja de 4 x 3 -->
                            
        <!-- product -->
        {% for items in producto %}
            <div class="product">
                <a href="{% url 'detproducto_' items.id %}">
                    <div class="product-img">
                        <img class="img_prod" src="/media/{{ items.id_foto.url1 }}" alt="">
                            <div class="product-label">
                                <span class="sale">-30%</span>
                                <span class="new">NEW</span>
                            </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">{{ items.id_categoria.nombre }}</p>
                        <h3 class="product-name"><a href="">{{ items.nombre }}</a></h3>
                        <h4 class="product-price">Q {{ items.precio_publico|escape }} <del class="product-old-price">Q 1990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </a>
                <div class="add-to-cart">
                    <button onclick="Carrito('{{ items.id }}', '{{ items.precio_publico|escape }}')" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                </div>
            </div>
        {% endfor %}
        <!-- /product -->
    </div>
        <!-- store bottom filter -->
        <div class="store-filter clearfix">
            <span class="store-qty">Productos 12 de 100 </span>
            <ul class="store-pagination">
                <li class="active">1</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
        <!-- /store bottom filter -->
</main>
{% endblock %}