{% extends 'layout/layout.html' %}

{% block contenido %}
<main class="contenedor">
    <div class="grid">
         <!-- caja de 4 x 3 -->
                            
                        <!-- product -->
                        <div class="product">
                            <div class="product-img">
                                <img src="../static/img/barreno.jpg" alt="">
                                <div class="product-label">
                                    <span class="sale">-30%</span>
                                    <span class="new">NEW</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Herramientas Electricas</p>
                                <h3 class="product-name"><a href="#">Barreno Recargable Dewalt</a></h3>
                                <h4 class="product-price">Q 1,680.00 <del class="product-old-price">Q 1990.00</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                            </div>
                        </div>
                        <!-- /product -->

              <!-- product -->
              <div class="product">
                <div class="product-img">
                    <img src="../static/img/barreno.jpg" alt="">
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NEW</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">Herramientas Electricas</p>
                    <h3 class="product-name"><a href="#">Barreno Recargable Dewalt</a></h3>
                    <h4 class="product-price">Q 1,680.00 <del class="product-old-price">Q 1990.00</del></h4>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    
                </div>
                <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                </div>
            </div>
            <!-- /product -->

      <!-- product -->
      <div class="product">
        <div class="product-img">
            <img src="../static/img/barreno.jpg" alt="">
            <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>
            </div>
        </div>
        <div class="product-body">
            <p class="product-category">Herramientas Electricas</p>
            <h3 class="product-name"><a href="#">Barreno Recargable Dewalt</a></h3>
            <h4 class="product-price">Q 1,680.00 <del class="product-old-price">Q 1990.00</del></h4>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            
        </div>
        <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
        </div>
    </div>
    <!-- /product -->
          <!-- product -->
          <div class="product">
            <div class="product-img">
                <img src="../static/img/barreno.jpg" alt="">
                <div class="product-label">
                    <span class="sale">-30%</span>
                    <span class="new">NEW</span>
                </div>
            </div>
            <div class="product-body">
                <p class="product-category">Herramientas Electricas</p>
                <h3 class="product-name"><a href="#">Barreno Recargable Dewalt</a></h3>
                <h4 class="product-price">Q 1,680.00 <del class="product-old-price">Q 1990.00</del></h4>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
            </div>
        </div>
        <!-- /product -->
      <!-- product -->
      <div class="product">
        <div class="product-img">
            <img src="../static/img/barreno.jpg" alt="">
            <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>
            </div>
        </div>
        <div class="product-body">
            <p class="product-category">Herramientas Electricas</p>
            <h3 class="product-name"><a href="#">Barreno Recargable Dewalt</a></h3>
            <h4 class="product-price">Q 1,680.00 <del class="product-old-price">Q 1990.00</del></h4>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            
        </div>
        <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
        </div>
    </div>
    <!-- /product -->
          <!-- product -->
          <div class="product">
            <div class="product-img">
                <img src="../static/img/barreno.jpg" alt="">
                <div class="product-label">
                    <span class="sale">-30%</span>
                    <span class="new">NEW</span>
                </div>
            </div>
            <div class="product-body">
                <p class="product-category">Herramientas Electricas</p>
                <h3 class="product-name"><a href="#">Barreno Recargable Dewalt</a></h3>
                <h4 class="product-price">Q 1,680.00 <del class="product-old-price">Q 1990.00</del></h4>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
            </div>
        </div>
        <!-- /product -->
              <!-- product -->
              <div class="product">
                <div class="product-img">
                    <img src="../static/img/barreno.jpg" alt="">
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NEW</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">Herramientas Electricas</p>
                    <h3 class="product-name"><a href="#">Barreno Recargable Dewalt</a></h3>
                    <h4 class="product-price">Q 1,680.00 <del class="product-old-price">Q 1990.00</del></h4>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    
                </div>
                <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                </div>
            </div>
            <!-- /product -->
                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                        <img src="../static/img/barreno.jpg" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                            <span class="new">NEW</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Herramientas Electricas</p>
                        <h3 class="product-name"><a href="#">Barreno Recargable Dewalt</a></h3>
                        <h4 class="product-price">Q 1,680.00 <del class="product-old-price">Q 1990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                    </div>
                </div>
                <!-- /product -->
                      <!-- product -->
                      <div class="product">
                        <div class="product-img">
                            <img src="../static/img/barreno.jpg" alt="">
                            <div class="product-label">
                                <span class="sale">-30%</span>
                                <span class="new">NEW</span>
                            </div>
                        </div>
                        <div class="product-body">
                            <p class="product-category">Herramientas Electricas</p>
                            <h3 class="product-name"><a href="#">Barreno Recargable Dewalt</a></h3>
                            <h4 class="product-price">Q 1,680.00 <del class="product-old-price">Q 1990.00</del></h4>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                        </div>
                    </div>
                    <!-- /product -->
                          <!-- product -->
                          <div class="product">
                            <div class="product-img">
                                <img src="../static/img/barreno.jpg" alt="">
                                <div class="product-label">
                                    <span class="sale">-30%</span>
                                    <span class="new">NEW</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Herramientas Electricas</p>
                                <h3 class="product-name"><a href="#">Barreno Recargable Dewalt</a></h3>
                                <h4 class="product-price">Q 1,680.00 <del class="product-old-price">Q 1990.00</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                            </div>
                        </div>
                        <!-- /product -->


    </div>
        <!-- store bottom filter -->
        <div class="store-filter clearfix">
            <span class="store-qty">Productos 12 de 100 </span>
            <ul class="store-pagination">
                <li class="active">1</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
        <!-- /store bottom filter -->
</main>



{% endblock %}